matrix:
  include:
    - os: osx
      osx_image: xcode9.4
      language: node_js
      node_js: "10"
      env:
        - ELECTRON_CACHE=$HOME/.cache/electron
        - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder
      addons:
        homebrew:
          update: true
          packages:
            - wine
            - snapcraft

cache:
  directories:
    - node_modules
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder
    - $HOME/Library/Caches/Homebrew

script:
  - yarn install
  - CI=true yarn test --passWithNoTests --ci
  - |
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ "${TRAVIS_BRANCH}" = "master" ]; then
      yarn build-desktop
      echo \{\"networks\":[\{\"key\":\"prebuilt_xregdemo\",\"name\":\"XReg Demo Network\",\"networkID\":1000,\"fullNodes\":[\"https://xreg-node0.apla.io:7079\",\"https://xreg-node1.apla.io:7079\",\"https://xreg-node2.apla.io:7079\"]\},\{\"key\":\"prebuilt_cn\",\"name\":\"Consortium Network\",\"networkID\":4000,\"fullNodes\":[\"https://node0.consortium-network.org:7079\",\"https://node1.consortium-network.org:7079\",\"https://node2.consortium-network.org:7079\"]\},\{\"key\":\"prebuilt_xregtest\",\"name\":\"XReg Test Network\",\"networkID\":1200,\"fullNodes\":[\"https://xreg-test0.apla.io:7079\",\"https://xreg-test1.apla.io:7079\",\"https://xreg-test2.apla.io:7079\"]\},\{\"key\":\"prebuilt_xregminicn\",\"name\":\"XReg MiniCN\",\"networkID\":3201,\"fullNodes\":[\"https://xreg-minicn0.apla.io:7079\",\"https://xreg-minicn1.apla.io:7079\",\"https://xreg-minicn2.apla.io:7079\"]\}]\} > ./build/app/settings.json
      yarn release -ml
      yarn release -w
    fi
  - yarn build

before_cache:
  - rm -rf $HOME/.cache/electron-builder/wine
  - brew cleanup

before_deploy:
  - echo '<!DOCTYPE html><html><head><meta charset=utf-8><title>Apla</title><script type="text/javascript">var segmentCount=0;var l=window.location;l.replace(l.protocol+"//"+l.hostname+(l.port?":"+l.port:"")+l.pathname.split("/").slice(0,1+segmentCount).join("/")+"/?p=/"+l.pathname.slice(1).split("/").slice(segmentCount).join("/").replace(/&/g,"~and~")+(l.search?"&q="+l.search.slice(1).replace(/&/g,"~and~"):"")+l.hash);</script></head><body></body></html>' > ./build/404.html
  - echo \{\"networks\":[\{\"key\":\"prebuilt_xregdemo\",\"name\":\"XReg Demo Network\",\"networkID\":1000,\"fullNodes\":[\"https://xreg-node0.apla.io:7079\",\"https://xreg-node1.apla.io:7079\",\"https://xreg-node2.apla.io:7079\"]\},\{\"key\":\"prebuilt_cn\",\"name\":\"Consortium Network\",\"networkID\":4000,\"fullNodes\":[\"https://node0.consortium-network.org:7079\",\"https://node1.consortium-network.org:7079\",\"https://node2.consortium-network.org:7079\"],\"enableDemoMode\":true\},\{\"key\":\"prebuilt_xregtest\",\"name\":\"XReg Test Network\",\"networkID\":1200,\"fullNodes\":[\"https://xreg-test0.apla.io:7079\",\"https://xreg-test1.apla.io:7079\",\"https://xreg-test2.apla.io:7079\"]\},\{\"key\":\"prebuilt_xregminicn\",\"name\":\"XReg MiniCN\",\"networkID\":3201,\"fullNodes\":[\"https://xreg-minicn0.apla.io:7079\",\"https://xreg-minicn1.apla.io:7079\",\"https://xreg-minicn2.apla.io:7079\"]\}]\} > ./build/settings.json

deploy:
  provider: pages
  skip-cleanup: true
  keep-history: true
  target-branch: gh-pages
  local-dir: build
  fqdn: front.apla.io
  github-token: $GITHUB_TOKEN
  on:
    branch: master

branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"